<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Rules" Description=" " ToolsVersion="16.0">
  <Include Path="../Rules.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>