version: '{build}'
environment:
  CLI_VERSION: latest
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
image: Visual Studio 2017
configuration:
    - Release
before_build:
    - dotnet restore
build_script:
    - msbuild /p:GetVersion=True /p:WriteVersionInfoToBuildLog=True
test_script:
    - dotnet test test/Winton.Extensions.Configuration.Consul.Test/Winton.Extensions.Configuration.Consul.Test.csproj --no-build --configuration Release
nuget:
  disable_publish_on_pr: true 
deploy:
- provider: NuGet
  api_key:
    secure: CxMH3k6k/Rpz1zjToGDAelLWDT/gDqRo08iEUAQsRnL+WRo+4TL5gLiNEUy/GfUy
  on:
    branch:
    - master
    - /release\/[0-9]\.[0-9]/